<!-- <app-header></app-header>
<h1>Make header footer in angular</h1>
<app-footer></app-footer>

<h1>Hello world</h1> -->
<!-- <ul>
  <li><a routerLink="company">Create Company</a></li>
  <br>
  <li><a routerLink="purchase">Create Purchase Order</a></li>
  <br>
  <li><a routerLink="departments">Departments</a></li>
  <br>
  <li><a routerLink="companies">Companies</a></li>
</ul>
<router-outlet></router-outlet> -->

<!-- <div style="text-align:center">
  <h1>
    Routing Application
  </h1>
</div> -->
<nav>
	<a routerLink="company" routerLinkActive="active">Create Company</a>
	<a routerLink="purchase" routerLinkActive="active">Create Purchase Order</a>
	<a routerLink="companies" routerLinkActive="active">Companies List</a>
</nav>
<router-outlet></router-outlet>